{% extends 'main/layout.html' %}

{% block title %}Инвестиции{% endblock %}

{% block content %}
    <div id="winrate" class="block_bets">В разработке</div>
    <div class="main_block">
        <div class="plan plan1">
            <div class="header">ENTERPRISE</div>
            <div class="price">$69</div>
            <div class="monthly">per month</div>
            <ul>
                <li><b>10GB disk space</b></li>
                <li><b>100GB monthly bandwidth</b></li>
                <li><b>20 email accounts</b></li>
                <li><b>Unlimited subdomens</b></li>
            </ul>
            <a class="signup" href="">BUY</a>
        </div>

        <div class="plan plan2">
            <div class="header">PROFESSIONAL</div>
            <div class="price">$29</div>
            <div class="monthly">per month</div>
            <ul>
                <li><b>5GB disk space</b></li>
                <li><b>60GB monthly bandwidth</b></li>
                <li><b>10 email accounts</b></li>
                <li><b>Unlimited subdomens</b></li>
            </ul>
            <a class="signup" href="">BUY</a>
        </div>

        <div class="plan plan3">
            <div class="header">STANDARD</div>
            <div class="price">$19</div>
            <div class="monthly">per month</div>
            <ul>
                <li><b>3GB disk space</b></li>
                <li><b>30GB monthly bandwidth</b></li>
                <li><b>5 email accounts</b></li>
                <li><b>Unlimited subdomens</b></li>
            </ul>
            <a class="signup" href="">BUY</a>
        </div>

        <div class="plan plan4">
            <div class="header">BASIC</div>
            <div class="price">$9</div>
            <div class="monthly">per month</div>
            <ul>
                <li><b>1GB disk space</b></li>
                <li><b>10GB monthly bandwidth</b></li>
                <li><b>2 email accounts</b></li>
                <li><b>Unlimited subdomens</b></li>
            </ul>
            <a class="signup" href="">BUY</a>
        </div>
    </div>
{% endblock %}
