{% extends 'main/layout.html' %}

{% block title %}Фильмы{% endblock %}

{% block content %}
    <div id="films" class="main_block2"><h2>Фильмы :</h2>

        <a href="https://yandex.ru/search/?text=%D0%B0%D0%BC%D1%81%D1%82%D0%B5%D1%80%D0%B4%D0%B0%D0%BC+%D1%84%D0%B8%D0%BB%D1%8C%D0%BC&search_source=dzen_desktop_safe&src=suggest_B&lr=22" target="_blank" id="link" class="image_film">Амстердам
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/61f397d6-b84c-44ab-806f-4a5226d5f0b1/300x450" width="200"/>
            </span></a><br>
        <a href="https://www.kinopoisk.ru/film/4362629/" target="_blank" id="link" class="image_film">Неусместный трах, или безумное порно
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/0afa2347-d2ce-4261-a5e5-91feb8d13856/300x450" width="200"/>
            </span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%B0%D1%84%D0%B8%D0%BD%D0%B0+%D1%84%D0%B8%D0%BB%D1%8C%D0%BC+2022&lr=22&src=suggest_B" target="_blank" id="link" class="image_film">Афина
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/94ded67c-53e7-44ff-aa32-d5a9d68c0556/300x450" width="200"/>
            </span></a><br>
        <a href="https://www.kinopoisk.ru/film/1309758/" target="_blank" id="link" class="image_film">Титан
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/b287a5c3-2b22-4bbe-b420-7c9e0cf94962/300x450" width="200"/>
            </span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%9E%D1%82%D1%87%D0%B0%D1%8F%D0%BD%D0%BD%D1%8B%D0%B5+%D1%84%D1%80%D0%B8%D0%BA%D0%B8&search_source=dzen_desktop_safe&src=suggest_B&lr=22" target="_blank" id="link" class="image_film">Отчаянные фрики
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/6302b228-3788-4c44-94d7-81c22448c6f3/300x450" width="200"/>
            </span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%B2%D0%BB%D0%B0%D1%81%D1%82%D1%8C+%D0%BF%D1%81%D0%B0&lr=20149&src=suggest_Pers" target="_blank" id="link" class="image_film">Власть пса
            <span><img src="https://avatars.mds.yandex.net/get-entity_search/5503081/534275529/S134x201_2x" width="200"/></span></a><br>
        <a href="https://www.kinopoisk.ru/film/4382259/" target="_blank" id="link" class="image_film">Сядь за руль моей машины
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/606ff78d-598d-407c-900e-58c3a538cf52/300x450" width="200"/>
            </span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%92%D1%81%D0%B5+%D1%81%D1%82%D0%B0%D1%80%D1%8B%D0%B5+%D0%BD%D0%BE%D0%B6%D0%B8&lr=22" target="_blank" id="link" class="image_film">Все старые ножи
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/b353a37f-76a9-4470-b159-89bbd4cc70a2/300x450" width="200"/>
            </span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%9D%D0%BE%D1%81%D0%B8%D1%82%D0%B5%D0%BB%D0%B8&lr=22" target="_blank" id="link" class="image_film">Носители
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/3093ecdc-1dfe-4d26-bcfd-101d2945170e/300x450" width="200"/>
            </span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%92%D0%B5%D1%81%D1%82%D1%81%D0%B0%D0%B9%D0%B4%D1%81%D0%BA%D0%B0%D1%8F+%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F&search_source=dzen_desktop_safe&src=suggest_B&lr=22" target="_blank" id="link" class="image_film">Вестсайдская история
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/d2554838-0996-46c5-9caa-cdd4b689dec7/300x450" width="200"/>
            </span></a><br>

        <a href="#" target="_blank" id="link" class="image_film">Название фильма<span><img src="" width="200"/></span></a><br>

        <a href="https://yandex.ru/search/?text=%D0%A4%D0%BE%D1%80%D1%81%D0%B0%D0%B6+10&lr=20147" target="_blank" id="link" class="image_film">Форсаж 10 (2023)
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/cb22693a-d025-4d74-81c5-11976cbf4858/300x450" width="200"/>
            </span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%B4%D1%8E%D0%BD%D0%B0+2&lr=20147" target="_blank" id="link" class="image_film">Дюна 2 (2023)
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/ff83de34-d0af-4b55-98be-bfa60460942d/300x450" width="200"/>
            </span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%BC%D0%B5%D0%B3+2&lr=20147" target="_blank" id="link" class="image_film">Мег 2 (2023)
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/8774403e-a0cb-416f-92cc-64ec3ad38622/300x450" width="200"/>
            </span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%9C%D0%B8%D1%81%D1%81%D0%B8%D1%8F+%D0%BD%D0%B5+%D0%B2%D1%8B%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D0%BC%D0%B0+7&lr=20147" target="_blank" id="link" class="image_film">Миссия: невыполнима. Смертельная расплата. Часть 1 (2023)
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/cef36fb4-d010-4869-afc4-0a8c8a9522cc/300x450" width="200"/>
            </span></a><br>

        <a href="https://yandex.ru/search/?text=%D0%B3%D1%80%D0%B0%D0%BD+%D1%82%D1%83%D1%80%D0%B8%D0%B7%D0%BC%D0%BE+%D1%84%D0%B8%D0%BB%D1%8C%D0%BC&lr=20147&src=suggest_B" target="_blank" id="link" class="image_film">Гран Туризмо (2023)
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/e024b989-8bab-4b12-be6d-e4f73eb085b5/300x450" width="200"/>
            </span></a><br>
        <a href="https://www.youtube.com/watch?v=04qDmvaOOlE" target="_blank" id="link" class="image_film">YouTube Подборка 2
            <span><img src="#" width="200"/>
            </span></a><br>
        <a href="https://www.youtube.com/watch?v=ehE53jXsXcY&list=WL&index=11" target="_blank" id="link" class="image_film">YouTube Подборка
            <span><img src="#" width="200"/>
            </span></a><br>
    </div>

    <div id="series" class="main_block2"><h2>Сериалы :</h2>

        <a href="#" target="_blank" id="link" class="image_series">Название сериала
            <span><img src="" width="200"/></span></a><br>

        <a href="https://yandex.ru/search/?text=%D0%BE%D1%81%D1%82%D1%80%D1%8B%D0%B5+%D0%BA%D0%BE%D0%B7%D1%8B%D1%80%D1%8C%D0%BA%D0%B8&search_source=dzen_desktop_safe&src=suggest_B&lr=22" target="_blank" id="link" class="image_series">Острые козырьки / 3 сезон 4 серия
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/e1ec4209-569e-4745-a324-b180af8097ef/300x450" width="200"/></span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%BB%D1%8E%D0%BF%D0%B5%D0%BD+%D1%81%D0%B5%D1%80%D0%B8%D0%B0%D0%BB&search_source=dzen_desktop_safe&src=suggest_B&lr=22" target="_blank" id="link" class="image_series">Люпен / 3 сезон 1 серия
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/a7efcbb8-f953-4bf2-a700-2039ef3241a4/300x450" width="200"/></span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B5%D1%82%D0%B0%D1%8F+%D0%B0%D0%BD%D0%BD%D1%83+%D1%81%D0%B5%D1%80%D0%B8%D0%B0%D0%BB&search_source=dzen_desktop_safe&src=suggest_B&lr=22" target="_blank" id="link" class="image_series">Изобретая Анну / 1 сезон 1 серия
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/bc6036e3-6a9a-4848-95d6-e3aeacb146e9/300x450" width="200"/></span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D0%B8+%D1%82%D1%8C%D0%BC%D1%8B+%D1%81%D0%B5%D1%80%D0%B8%D0%B0%D0%BB&search_source=dzen_desktop_safe&src=suggest_B&lr=22" target="_blank" id="link" class="image_series">Области тьмы / 1 сезон 1 серия
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1777765/01929a3a-1094-469c-a676-7d4e1390a517/300x450" width="200"/></span></a><br>
        <a href="https://yandex.ru/search/?text=%D0%B1%D0%BE%D0%BB%D1%8C%D1%88%D0%B0%D1%8F+%D0%BC%D0%B0%D0%BB%D0%B5%D0%BD%D1%8C%D0%BA%D0%B0%D1%8F+%D0%BB%D0%BE%D0%B6%D1%8C+%D1%81%D0%B5%D1%80%D0%B8%D0%B0%D0%BB&lr=22&src=suggest_Rec" target="_blank" id="link" class="image_series">Большая маленькая ложь / 1 сезон 1 серия
            <span><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/f9fdacee-f084-41d5-9cf0-6613d85bf124/300x450" width="200"/></span></a><br>

        <a href="#" target="_blank" id="link" class="image_series">Консультант !!! Калейдоскоп (Netflix), Грызня (Netflix), Терапия !!! Покер Фейс ! Одни из нас (HBO), Любовь и смерть (HBO), Ночной агент (Netflix), Экстраполяции, Здраствуй.будущее, Цитадель, Связь, Связанные насмерть, Последнее.что он сказал мне, Сериал Meow,
            <span><img src="" width="200"/></span></a><br>
    </div>

    <div id="studies" class="main_block2"><h2>Учёба :</h2>
        <a href="https://stepik.org/learn" target="_blank" id="link" class="image_studies">Stepik Python<span><img src="https://stepik.org/media/cache/images/courses/68343/cover_xhngimb/c1c49a14cc47cc1270b3fe813b9d72b9.png" width="200"/></span></a><br>
        <a href="https://www.youtube.com/watch?v=bWNmJqgri4Q&list=PL6oPrT2FZlAkPMoLIdKyzD6S0rYAV8UtY&index=13" target="_blank" id="link" class="image_studies">HTML<span><img src="https://www.alura.com.br/artigos/assets/html-css-js/imagem-1.png" width="200"/></span></a><br>
        <a href="https://www.youtube.com/playlist?list=PLDyJYA6aTY1meZ3d08sRILB46OJ-wojF2" target="_blank" id="link" class="image_studies">Изучение CSS для начинающих
            <span><img src="https://cdn-icons-png.flaticon.com/512/136/136527.png" width="200"/></span></a><br>
        <a href="https://www.youtube.com/watch?v=6vqlbqR_r0A&list=PL0lO_mIqDDFXUJfMPcm1ezfcYSOHNNCZ4&index=6" target="_blank" id="link" class="image_studies">Figma - разработка дизайна<span><img src="https://static.tildacdn.com/tild6661-3137-4331-b162-356430303434/photo.png" width="200"/></span></a><br>
        <a href="https://www.youtube.com/watch?v=lapMmGGFS7k&list=PL0lO_mIqDDFVnLvR39VpEtphQ8bPJ-xR9" target="_blank" id="link" class="image_studies">Основы языка SQL<span><img src="https://techrocks.ru/wp-content/uploads/2018/04/dd4183273b4d16132e4db.png" width="200"/></span></a><br>
        <a href="https://www.youtube.com/watch?v=L-FyeHQwo4U&list=PLDyJYA6aTY1nZ9fSGcsK4wqeu-xaJksQQ" target="_blank" id="link" class="image_studies">Веб-фреймворк Django<span><img src="https://destatic.blob.core.windows.net/images/django-logo.png" width="200"/></span></a><br>
        <a href="https://www.youtube.com/watch?v=jgAVGtkk03Q&list=PL0lO_mIqDDFXiIQYjLbncE9Lb6sx8elKA" target="_blank" id="link" class="image_studies">Микрофреймворк Flask<span><img src="https://uploads-ssl.webflow.com/61dc28dd8dfd5a999947f992/61dc43b0c2105e53d4f07760_1_qHErF6dRKxFCDTtgpQk9hQ.png" width="200"/></span></a><br>
        <a href="#" target="_blank" id="link" class="image_studies">Уроки по ...
            <span><img src="" width="200"/></span></a><br>
    </div>
{% endblock %}
