{% extends 'main/layout.html' %}

{% block title %}Тарифы{% endblock %}

{% block content %}
    <div class="main_block">
        <div class="plan plan1">
            <div class="header">НАЧАЛЬНЫЙ</div>
            <div class="price">500</div>
            <div class="monthly">за месяц</div>
            <ul>
                <li><b>Финансовая грамотность</b></li>
            </ul>
            <a class="signup" href="#">В разработке</a>
        </div>

        <div class="plan plan2">
            <div class="header">БАЗОВЫЙ</div>
            <div class="price">1000</div>
            <div class="monthly">за месяц</div>
            <ul>
                <li><b>Прогнозы<br>Футбол</b></li>
            </ul>
            <a class="signup" href="https://t.me/dudikov8">BUY</a>
        </div>

        <div class="plan plan3">
            <div class="header">СТАНДАРТНЫЙ</div>
            <div class="price">2000</div>
            <div class="monthly">за месяц</div>
            <ul>
                <li><b>Инвестиции<br>Крипта</b></li>
            </ul>
            <a class="signup" href="https://t.me/dudikov8">BUY</a>
        </div>

        <div class="plan plan4">
            <div class="header">НАИЛУЧШИЙ</div>
            <div class="price">4000</div>
            <div class="monthly">за месяц</div>
            <ul>
                <li><b>Индивидуальная консультация</b></li>
            </ul>
            <a class="signup" href="https://t.me/dudikov8">BUY</a>
        </div>
    </div>
{% endblock %}