{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>

    <div class="header-buttons">
        <a href="{% url 'login' %}"><button class="btn btn-outline-warning">Log in</button></a>
        <a href="{% url 'profile' %}"><button class="btn btn-outline-danger">Profile</button></a>
        <a href="{% url 'list_users' %}"><button class="btn btn-secondary">List Users</button></a>
    </div>

    <!--action="profile/"-->
    <form method="post">
        {% csrf_token %}
        {{ form.name }}
        {{ form.email }}
        {{ form.password }}

        {{ error }}
        <button type="submit">Зарегистрироваться</button>
    </form>

    <!--<script src="{% static 'main/js/script2.js' %}"></script>-->
</body>
</html>
